==
<meta charset="utf-8">

<base href="http://loop.arcturus.uberspace.de/" />

<title>LOOPSHAPE / Portfolio von Arjuna Noorsanto - Web Developer</title>

<meta name="author" content="Arjuna Noorsanto">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta http-equiv="content-language" content="de-DE,de">

<meta name="robots" content="index,nowfollow"> 
<meta name="keywords" content="web,development,media,design,hamburg,germany,programming,template,cms,extension,php,jquery,laravel,code,script">

<meta name="description" content="{{ this.page.description }}">

<meta name="google-site-verification" content="IUoFLzbPObDd23r1s4YjaNakucEM2bp_TDR1TZnX5cE" />

<link rel="icon" type="image/png" href="{{ 'assets/images/favicon.png' | theme }}" />

{% styles %}

<link rel="stylesheet" href="{{ ['bower_components/foundation/css/normalize.css'] | theme }}" />
<link rel="stylesheet" href="{{ ['bower_components/foundation/css/foundation.css'] | theme }}" />
<link rel="stylesheet" href="{{ ['bower_components/fontawesome/less/font-awesome.less'] | theme }}" />

<link href="{{ ['bower_components/FlipClock/compiled/flipclock.css'] | theme }}" rel="stylesheet"></link>
<link href="//vjs.zencdn.net/4.11/video-js.css" rel="stylesheet">
<script src='//www.google.com/jsapi' type='text/javascript'></script>

<link href='//fonts.googleapis.com/css?family=Archivo+Narrow:700,400,400italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Raleway:900' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{{ ['assets/less/theme.less'] | theme }}" />

<script src="//code.jquery.com/jquery-2.0.0.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.15.1/TimelineMax.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.15.1/TweenMax.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>

<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->