
<h3>Benutzer-API von Loopshape:</h3>
<p>
	<% if (req.user) { %>
		
		<p>
			<a href="http://loop.arcturus.uberspace.de:64321/member" title="">&Ouml;ffne das Benutzerportal</a>
		</p>
		
		<a class="clickButton" href="http://loop.arcturus.uberspace.de:64321/logout">Logout</a>
		
	<% } else { %>
		
		<a class="clickButton" href="http://loop.arcturus.uberspace.de:64321/login">Login</a> | <a class="clickButton" href="http://loop.arcturus.uberspace.de:64321/signup">Signup</a>
		
	<% } %>
</p>
<p><a href="http://loop.arcturus.uberspace.de/" title="">Zur&uuml;ck zur Startseite...</a></p>