<!DOCTYPE HTML>
<html lang="de" ng-app="loopApp" manifest="/public/loopshape.mf">

    <head>

        <!--

        LOOPSHAPE Website - Portfolio von Arjuna Noorsanto
        (c)reated 2015 with OctoberCMS

        Write eMail: awebgo.net (at) gmail [dot] com

        http://loop.arcturus.uberspace.de/

        -->

        <meta charset="utf-8">

        <base href="http://loop.arcturus.uberspace.de/" />

        <title>LOOPSHAPE / Portfolio von Arjuna Noorsanto - Web Developer</title>

        <meta name="author" content="Arjuna Noorsanto">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta http-equiv="content-language" content="de-DE,de">

        <meta name="robots" content="index,nowfollow">
        <meta name="keywords" content="web,development,media,design,hamburg,germany,programming,template,cms,extension,php,jquery,laravel,code,script">

        <meta name="description" content="">

        <meta name="google-site-verification" content="IUoFLzbPObDd23r1s4YjaNakucEM2bp_TDR1TZnX5cE" />

        <link rel="icon" type="image/png" href="/themes/loopshape/assets/images/favicon.png" />

        <link rel="stylesheet" href="/plugins/lynxsolutions/scrolltop/assets/css/default.css">
        <link rel="stylesheet" href="/plugins/lynxsolutions/scrolltop/assets/css/scroll_top_lnx.css">
        <link rel="stylesheet" href="/modules/backend/formwidgets/richeditor/assets/vendor/redactor/redactor.css">
        <link rel="stylesheet" href="/plugins/rainlab/editable/assets/css/editable.css">
        <link rel="stylesheet" href="/plugins/shahiemseymor/poll/assets/css/poll.css">

        <link rel="stylesheet" href="/combine/e87fed01851c52a068f63e66132377f7-1418423320" />
        <link rel="stylesheet" href="/combine/6e9e5f8c88749d4cc653d3dc7ed93a6e-1418423320" />
        <link rel="stylesheet" href="/combine/46b286d157646955c7a71a3c7d988e36-1421950182" />

        <link href="/combine/d0f1e4759be894c487142ddda241e5a7-1422639148" rel="stylesheet">
        </link>
        <link href="//vjs.zencdn.net/4.11/video-js.css" rel="stylesheet">
        <script src='//www.google.com/jsapi' type='text/javascript'></script>

        <link href='//fonts.googleapis.com/css?family=Archivo+Narrow:700,400,400italic' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Raleway:900' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/combine/cdc6b53aa6f6615c6f76d9535caa3139-1425065968" />

        <script src="//code.jquery.com/jquery-2.0.0.min.js"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.15.1/TimelineMax.min.js"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.15.1/TweenMax.min.js"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>

        <!--[if gte IE 9]>
        <style type="text/css">
        .gradient {
        filter: none;
        }
        </style>
        <![endif]-->
    </head>


    <body id="global">

        <section id="layer">

            <div id="cookieLawBanner">
                <p>
                    <strong> Diese Seite nutzt Cookies! Mit der Benutzung dieser Website erklären Sie sich damit einverstanden, dass ein Cookie gespeichert wird.
                    <br />
                    This Website uses cookies! While browsing these pages, you agree that this website stores a cookie on your computer. </strong>

                </p>

            </div>


            <section id="frame">

                <header id="pageHeader" class="large-12 columns">
                    <div id="pageLogo" class="large-12 columns">
                        <div id="headerBackground"></div>

                        <div id="headerClock" class="clock"></div>


                        <div class="logoImage">
                            <a href="/zur-person" title="Ich bin Arjuna Noorsanto, ein Webentwickler aus Hamburg /DE. Dies ist meine Website: Loopshape - Ein Portfolio über meine Tätigkeit als Webdesigner." class="hastip"> <img class="portrait" src="/themes/loopshape/assets/images/webmaster_portrait.jpg" alt="Foto des Webmasters" /> </a>

                        </div>

                        <h1 id="logo"><a href="/">LOOPSHAPE</a>

                        <p>
                            <strong class="greyLight">Portfolio von Arjuna Noorsanto // Webentwickler</strong>

                        </p></h1>

                    </div>

                </header>


                <nav id="navi" class="large-12 columns areaSticky">
                    <h1 class="additional">LOOPSHAPE</h1>


                    <ul class="nav nav-pills">
                        <li class="item ">
                            <a href="http://loop.arcturus.uberspace.de" target="_self"> Startseite </a>

                        </li>


                        <li class="item ">
                            <a href="http://loop.arcturus.uberspace.de/blog/zusammenfassung" target="_self"> TechBlog </a>

                        </li>


                        <li class="item ">
                            <a href="http://loop.arcturus.uberspace.de/kontaktformular" target="_self"> Kontaktformular </a>

                        </li>


                        <li class="item active">
                            <a href="http://loop.arcturus.uberspace.de:64321/" target="_self"> MemberArea </a>

                        </li>

                    </ul>


                    <div id="searchcontrol">
                        <div id='cse' style='width: 100%;'>
                            <gcse:searchbox-only>

                        </div>

                    </div>

                </nav>


                <section id="page">

                    <section id="frameTeaser">

                        <section id="frameOnboard" style="overflow:hidden;">

                            <%- body %>

                        </section>

                    </section>

                    <div class="cf"></div>



                        <div id="maincol">

                            <div class="statusArea">

                            </div>

                        </div>

                        <a class="lnxScrollToTop" id="lnxScrollToTop"> <i class="lnxScrollToTopArrow" id="lnxScrollToTopArrow"></i> </a>


                        <script>
                            (function()
                            {
                                var mainObject = document.getElementById('lnxScrollToTop');
                                var arrowObject = document.getElementById('lnxScrollToTopArrow');

                                var op = 0.1;
                                var isVisible = false;
                                var timer;
                                window.onscroll = function(e)
                                {
                                    var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
                                    if (scrollTop > 200)
                                    {
                                        if (!isVisible)
                                        {
                                            fadeIn(mainObject);
                                            isVisible = true;
                                        }
                                    }
                                    else
                                    {
                                        if (isVisible)
                                        {
                                            fadeOut(mainObject);
                                            isVisible = false;
                                        }
                                    }
                                };

                                mainObject.onclick = clicked;
                                function clicked(event)
                                {
                                    var element = (document.documentElement.scrollTop) ? document.documentElement : document.body;
                                    scrollTo(element, 0, 300);
                                    event.preventDefault();
                                }

                                function scrollTo(element, to, duration)
                                {
                                    var start = element.scrollTop,
                                        change = to - start,
                                        currentTime = 0,
                                        increment = 20;

                                    var animateScroll = function()
                                    {
                                        currentTime += increment;
                                        var val = Math.easeInOutQuad(currentTime, start, change, duration);
                                        element.scrollTop = val;
                                        if (currentTime < duration)
                                        {
                                            setTimeout(animateScroll, increment);
                                        }
                                    };
                                    animateScroll();
                                }

                                function fadeOut(element)
                                {
                                    clearInterval(timer)
                                    timer = setInterval(function()
                                    {
                                        if (op <= 0.1)
                                        {
                                            clearInterval(timer);
                                            op = 0.1;
                                            element.style.display = 'none';
                                        }
                                        element.style.opacity = op.toFixed(2);
                                        element.style.filter = 'alpha(opacity=' + op * 100 + ")";
                                        op -= op * 0.2;
                                    }, 25);
                                }

                                function fadeIn(element)
                                {
                                    element.style.display = 'block';
                                    clearInterval(timer)
                                    timer = setInterval(function()
                                    {
                                        if (op >= 1)
                                        {
                                            clearInterval(timer);
                                            op = 1;
                                        }
                                        element.style.opacity = op.toFixed(2);
                                        element.style.filter = 'alpha(opacity=' + op * 100 + ")";
                                        op += op * 0.2;
                                    }, 25);
                                }

                                //t = current time
                                //b = start value
                                //c = change in value
                                //d = duration
                                Math.easeInOutQuad = function(t, b, c, d)
                                {
                                    t /= d / 2;
                                    if (t < 1)
                                        return c / 2 * t * t + b;
                                    t--;
                                    return -c / 2 * (t * (t - 2) - 1) + b;
                                };
                            })();
                        </script>


                        <style>
                            .lnxScrollToTop
                            {
                                background: #FFF;
                                width: 50px;
                                height: 50px;
                                line-height: 50px;
                                bottom: 7%;
                                right: 2%;
                            }
                            .lnxScrollToTop:hover
                            {
                                background: #E6E6E6;
                            }
                            .lnxScrollToTopArrow
                            {
                                color: #000;
                                font-size: 33.33px;
                            }
                            .lnxScrollToTop:hover .lnxScrollToTopArrow
                            {
                                color: #2E2E2E;
                            }
                        </style>

                </section>

                <section id="finalArea" style="display:none;"></section>

                <section id="subSection" style="display:none;"></section>

            </section>

        </section>


        <footer id="pageFooter" class="large-12 columns">
            <div id="footerContent" class="row">

                <div class="large-12 columns textCenter">

                    <p>
                        "Loopshape" Template /
                        <i class="fa fa-copyright">reated </i>2015 by Arjuna Noorsanto // <a href="mailto:awebgo.net@gmail.com">awebgo.net (at) gmail [dot] com</a> // <a href="/impressum">Impressum</a>

                    </p>

                </div>

            </div>

        </footer>

        <script data-main="./../themes/loopshape/assets/javascript/main.js" src="/themes/loopshape/bower_components/requirejs/require.js"></script>


        <script type="text/javascript">
            var exports = null;
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function()
            {
                var u = "//loop.arcturus.uberspace.de/public/piwik/";
                _paq.push(['setTrackerUrl', u + 'piwik.php']);
                _paq.push(['setSiteId', 1]);
                var d = document,
                    g = d.createElement('script'),
                    s = d.getElementsByTagName('script')[0];
                g.type = 'text/javascript';
                g.async = true;
                g.defer = true;
                g.src = u + 'piwik.js';
                s.parentNode.insertBefore(g, s);
            })();

            google.load('search', '1',
            {
                language : 'de',
                style : google.loader.themes.V2_DEFAULT
            });
            google.setOnLoadCallback(function()
            {
                var customSearchOptions =
                {
                };
                var orderByOptions =
                {
                };
                orderByOptions['keys'] = [
                {
                    label : 'Relevance',
                    key : ''
                },
                {
                    label : 'Date',
                    key : 'date'
                }];
                customSearchOptions['enableOrderBy'] = true;
                customSearchOptions['orderByOptions'] = orderByOptions;
                var imageSearchOptions =
                {
                };
                imageSearchOptions['layout'] = 'google.search.ImageSearch.LAYOUT_POPUP';
                customSearchOptions['enableImageSearch'] = true;
                var customSearchControl = new google.search.CustomSearchControl('018160317516553975009:qjmc6muct-g', customSearchOptions);
                customSearchControl.setResultSetSize(google.search.Search.SMALL_RESULTSET);
                customSearchControl.setLinkTarget(google.search.Search.LINK_TARGET_SELF);
                var options = new google.search.DrawOptions();
                options.setAutoComplete(true);
                customSearchControl.draw('cse', options);
            }, true);

            var disqus_shortname = 'loopshapeportfolio';
            // required: replace example with your forum shortname
            ( function()
                {
                    var s = document.createElement('script');
                    s.async = true;
                    s.type = 'text/javascript';
                    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
                    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
                }());
        </script>


        <noscript>
            <p><img src="//loop.arcturus.uberspace.de/public/piwik/piwik.php?idsite=1" style="border:0;" alt="" />
            </p>

        </noscript>

    </body>

</html>