<h3>Login auf Loopshape:</h3>
<form action="http://loop.arcturus.uberspace.de:64321/login" method="post">

	<label for="username">Benutzername</label>
	<input name="username" type="text"/>
	<br/>

	<label for="password">Passwort</label>
	<input name="password" type="password"/>
	<br/>

	<input class="clickButton" type="submit"/>
	
</form>
<p><a href="http://loop.arcturus.uberspace.de:64321/" title="">Zur&uuml;ck zum Mitgliedsbereich</a></p>