<% if (req.user) { %>

<h3>Benutzerportal von Loopshape:</h3>

<p>
    <strong>Das Benutzerportal ist noch im Aufbau...</strong>

</p>

<!--
<p>
	<a href="http://loop.arcturus.uberspace.de:64321/delete" title="">Account l&ouml;schen!</a>
</p>
-->

<p>
    <a class="clickButton" href="http://loop.arcturus.uberspace.de:64321/logout">Logout</a>

</p>

<p>
    <a href="http://loop.arcturus.uberspace.de:64321/" title="">Zur&uuml;ck zum Mitgliedsbereich</a>

</p>

<% } else { %>

<script>setTimeout(function() {
	window.open('/', '_self');
}, 250);</script>

<% } %>