<h3>Registration auf Loopshape:</h3>
<form action="http://loop.arcturus.uberspace.de:64321/signup" method="post">

	<label for="username">W&auml;hle einen Benutzernamen</label>
	<input name="username" type="text"/>
	<br/>

	<label for="password">Setze ein Passwort</label>
	<input name="password" type="password"/>
	<br/>

	<input class="clickButton" type="submit"/>

</form>
<p><a href="http://loop.arcturus.uberspace.de:64321/" title="">Zur&uuml;ck zum Mitgliedsbereich</a></p>