==
<div id="pageLogo" class="large-12 columns">
    <div id="headerBackground"></div>
    <div id="headerClock" class="clock"></div>
    <div class="logoImage">
        <a href="/zur-person" title="Ich bin Arjuna Noorsanto, ein Webentwickler aus Hamburg /DE. Dies ist meine Website: Loopshape - Ein Portfolio über meine Tätigkeit als Webdesigner." class="hastip">
            <img class="portrait" src="/themes/loopshape/assets/images/webmaster_portrait.jpg" alt="Foto des Webmasters" />
        </a>
    </div>
    <h1 id="logo">
        <a href="/">LOOPSHAPE</a>
        <p><strong class="greyLight">Portfolio von Arjuna Noorsanto // Webentwickler</strong></p>
    </h1>
</div>