==
<div class="spacerLine"></div>

<div class="colWrapper">

    <div class="inner">
        
        <div class="large-4 columns marginBottom">
            <div class="inner">
                <i class="fa fa-asterisk"></i><h3>WEB DEVELOPMENT</h3>
                <p><strong>Die Welt der Computer hat mich seit Anbeginn sehr fasziniert. Seit über 20 Jahren arbeite ich mit Computer und nutze alle Ressourcen, um meiner Kreativität freien Lauf zu lassen.</strong></p>
            </div>
        </div>
        
        <div class="large-4 columns marginBottom">
            <div class="inner">
                <i class="fa fa-asterisk"></i><h3>MEDIA PRODUCTION</h3>
                <p><strong>Ich beherrsche das Erstellen von Websites, bin geübt in Bildbearbeitung und mache nebenbei gerne 3D-Animationen sowie elektronische Musikproduktion.</strong></p>
            </div>
        </div>
        
        <div class="large-4 columns marginBottom">
            <div class="inner">
                <i class="fa fa-asterisk"></i><h3>SERVER DELEGATION</h3>
                <p><strong>Ob Windows, Apple oder Linux: 
        Ich kenne die gängigsten Betriebssysteme. Sei es Windows-OS Tuning, Bildbearbeitung auf Apple oder technische Serverdelegation in Linux mit der Kommandozeilenebene.</strong></p>
            </div>
        </div>
        
    </div>
    
</div>

<div class="spacerLine"></div>