==
<div class="colWrapper large-12 columns">
	<h4>Auf folgenden Sozialen-Netzwerken bin ich zu finden:</h4>
	<ul class="socialMedias">
		<li>
			<a href="http://github.com/loopshape" title="Github" target="_blank" class="hastip"> <i class="fa fa-github-square"></i> </a>
		</li>
		<li>
			<a href="http://plus.google.com/u/0/+ArjunaNoorsanto" title="Google+" target="_blank" class="hastip"> <i class="fa fa-google-plus-square"></i> </a>
		</li>
		<li>
			<a href="http://facebook.com/arjuna" title="Facebook" target="_blank" class="hastip"> <i class="fa fa-facebook-square"></i> </a>
		</li>
		<li>
			<a href="http://twitter.com/loopshape" title="Twitter" target="_blank" class="hastip"> <i class="fa fa-twitter-square"></i> </a>
		</li>
		<li>
			<a href="http://www.xing.com/profile/Arjuna_Noorsanto?sc_o=mxb_p" title="XING" target="_blank" class="hastip"> <i class="fa fa-xing-square"></i> </a>
		</li>
		<li>
			<a href="http://www.pinterest.com/loopshape/" title="Pinterest" target="_blank" class="hastip"> <i class="fa fa-pinterest-square"></i> </a>
		</li>
		<li>
			<a href="https://soundcloud.com/wellenwert" title="Soundcloud" target="_blank" class="hastip"> <i class="fa fa-soundcloud"></i> </a>
		</li>
		<li>
			<a href="https://medium.com/@Loopshape" title="Medium" target="_blank" class="hastip"> <i class="fa fa-medium"></i> </a>
		</li>
	</ul>
	<br />
	<br />
	<a href="/" title="">
	<button type="text" title="">
		Zurück zur Startseite
	</button></a>
    <br />
    <br />
</div>