description = "Footer Summary"
==
<div id="subSectionArea" class="large-12 columns smoothOpacity">

    <div class="large-3 columns textLeft hoverBlack myAddress">
        <h4 class="headline blockInline">Loopshape Portfolio<br />Anschrift des Webmasters</h4>
        <p class="hoverBlack">
            <br /><br />
            Arjuna Noorsanto<br />
            Holsteiner Chaussee 23<br />
            22523 Hamburg / DE<br />
            <br />
            <span class="cf">Mobile:</span> <a href="tel:004917695749832" title="">0176.95749832</a><br />
            <br />
            <span class="cf">E-Mail:</span> <a href="mailto:awebgo.net@gmail.com">awebgo.net (at) gmail[dot]com</a>
        </p>
    </div>
    
    <div class="large-3 columns hoverLink fontBigger">
        <h4 class="fontUpper">Werkzeuge zum Programmieren</h4>
        <ul class="codingTools">
            <li>
                <a href="http://aptana.com/" title="" target="_blank">Aptana Studio 3</a>
            </li>
            <li>
                <a href="https://netbeans.org/" title="" target="_blank">NetBeans</a>
            </li>
            <li>
                <a href="http://notepad-plus-plus.org/" title="" target="_blank">Notepad++</a>
            </li>
            <li>
                <a href="http://nodejs.org/" title="" target="_blank">NodeJS</a>
            </li>
            <li>
                <a href="https://www.npmjs.com/" title="" target="_blank">NPM JS</a>
            </li>
            <li>
                <a href="http://requirejs.org/docs/api.html" title="" target="_blank">RequireJS</a>
            </li>
            <li>
                <a href="http://gruntjs.com/" title="" target="_blank">GruntJS</a>
            </li>
            <li>
                <a href="http://bower.io/" title="" target="_blank">Bower</a>
            </li>
            <li>
                <a href="http://getcomposer.org/" title="" target="_blank">PHP Composer</a>
            </li>
            <li>
                <a href="http://backbonejs.org/" title="" target="_blank">BackboneJS</a>
            </li>
            <li>
                <a href="https://angularjs.org/" title="" target="_blank">AngularJS</a>
            </li>
            <li>
                <a href="http://filezilla-project.org/" title="" target="_blank">FileZilla</a>
            </li>
            <li>
                <a href="http://www.cygwin.com/" title="" target="_blank">Cygwin</a>
            </li>
            <li>
                <a href="http://git-scm.com/" title="" target="_blank">Git SCM</a>
            </li>
            <li>
                <a href="http://jshint.com/" title="" target="_blank">JS Hint</a>
            </li>
            <li>
                <a href="http://regexpal.com/" title="" target="_blank">RegExPal</a>
            </li>
            <li>
                <a href="https://de.atlassian.com/software/sourcetree/overview" title="" target="_blank">SourceTree</a>
            </li>
            <li>
                <a href="http://caniuse.com/#" title="" target="_blank">CanIuse</a>
            </li>
        </ul>
    </div>
    
    <div class="large-3 columns hoverLink fontBigger">
        <h4 class="fontUpper">Software für Medienproduktion</h4>
        <ul class="graphicTools">
            <li>
                <a href="http://typo3.org/" title="" target="_blank">TYPO3 WCMS</a>
            </li>
            <li>
                <a href="https://wordpress.org/" title="" target="_blank">WordPress BlogCMS</a>
            </li>
            <li>
                <a href="https://octobercms.com/" title="" target="_blank">OctoberCMS</a>
            </li>
            <li>
                <a href="http://pivotx.net/" title="" target="_blank">PivotX CMS</a>
            </li>
            <li>
                <a href="http://sailsjs.org/#/" title="" target="_blank">SailsJS CMS</a>
            </li>
            <li>
                <a href="http://adobe.com/" title="" target="_blank">Adobe Creative Suite</a>
            </li>
            <li>
                <a href="http://www.gimp.org/" title="" target="_blank">GIMP</a>
            </li>
            <li>
                <a href="http://www.blender.org/" title="" target="_blank">Blender 3D</a>
            </li>
            <li>
                <a href="http://laravel.com/" title="" target="_blank">Laravel</a>
            </li>
            <li>
                <a href="http://www.codeigniter.com/" title="" target="_blank">Code Igniter</a>
            </li>
            <li>
                <a href="http://css3generator.com/" title="" target="_blank">CSS3 Generator</a>
            </li>
            <li>
                <a href="http://www.colorzilla.com/gradient-editor/" title="" target="_blank">ColorZilla</a>
            </li>
            <li>
                <a href="http://dummyimage.com/" title="" target="_blank">Dummy Image</a>
            </li>
            <li>
                <a href="http://audacity.sourceforge.net/?lang=de" title="" target="_blank">Audacity</a>
            </li>
            <li>
                <a href="http://www.audiotool.com/" title="" target="_blank">AudioTool</a>
            </li>
            <li>
                <a href="http://www.partycloud.fm/" title="" target="_blank">Partycloud.FM</a>
            </li>
        </ul>
    </div>
    
    <div class="large-3 columns hoverLink fontBigger">
        <h4 class="fontUpper">Favorit Webtipps<br /> </h4>
        <ul class="webTipps">
            <li>
                <a href="http://trello.com/b/oYAXcvAn/loopshape" title="" target="_blank">Trello</a>
            </li>
            <li>
                <a href="http://uberspace.de/" title="" target="_blank">Uberspace Webhosting</a>
            </li>
            <li>
                <a href="http://euserv.de/" title="" target="_blank">EUserv Rootserver Provider</a>
            </li>
            <li>
                <a href="http://www.netzclub.net/" title="" target="_blank">Netzclub Prepaid</a>
            </li>
            <li>
                <a href="http://koding.com/" title="" target="_blank">Koding.com</a>
            </li>
            <li>
                <a href="http://unheap.com/" title="" target="_blank">Unheap.com</a>
            </li>
            <li>
                <a href="http://sourceforge.net/directory/development/os:windows/freshness:recently-updated/" title="" target="_blank">Sourceforge</a>
            </li>
            <li>
                <a href="http://github.com/" title="" target="_blank">Github</a>
            </li>
            <li>
                <a href="http://bitbucket.org/" title="" target="_blank">Bitbucket</a>
            </li>
            <li>
                <a href="https://developers.google.com/web/fundamentals/" title="" target="_blank">Web Fundamentals</a>
            </li>
            <li>
                <a href="https://www.atlassian.com/git/" title="" target="_blank">Getting Git right</a>
            </li>
            <li>
                <a href="http://learn.koding.com/guides/" title="" target="_blank">Koding University</a>
            </li>
            <li>
                <a href="http://tridiv.com/" title="" target="_blank">Tridiv</a>
            </li>
            <li>
                <a href="http://soundcloud.com/" title="" target="_blank">Soundcloud</a>
            </li>
            <li>
                <a href="http://techno.org/electronic-music-guide/" title="" target="_blank">Ishkur's EDM Guide</a>
            </li>
            <li>
                <a href="http://www.stumbleupon.com/home" title="" target="_blank">StumbleUpon</a>
            </li>
        </ul>
    </div>
    
</div>