description = "Audioplayer with Listing"
==
<section id="htmlaudioplayer" class="large-5 columns globalHeights">

    <div class="inner areaColorBlockContent globalPadding globalRadius globalShadow">
        
        <h2 class="h3">// AUDIOPLAYER</h2>
    
    	<audio preload></audio>
    	
    	<ol class="playlist">
    	
    	    <li>
    	        <a class="song" href="javascript:void(0);" data-src="//docs.google.com/uc?export=download&id=0B5YtQ2Ka-H8XZ1dnQm15eHpuLU0">Wellenwert - "Piano Session"</a>
    	    </li>
    	    
    	    <li>
    	        <a class="song" href="javascript:void(0);" data-src="//docs.google.com/uc?export=download&id=0B5YtQ2Ka-H8XbENjRjRfaUszdVU">Wellenwert - "Force Of Origin"</a>
    	    </li>
    	    
    		<li>
    		    <a class="song" href="javascript:void(0);" data-src="//docs.google.com/uc?export=download&id=0B5YtQ2Ka-H8XZ3ZNX0pNR0dRTXc">Wellenwert - "The Message"</a>
    		</li>
    		
    	    <li>
    	        <a class="song" href="javascript:void(0);" data-src="//docs.google.com/uc?export=download&id=0B5YtQ2Ka-H8XcDNSX0g5bUZ1Y2c">Wellenwert - "Drivin' Too Fast"</a>
    	    </li>
    	    
    		<li>
    			<a class="song" href="javascript:void(0);" data-src="//docs.google.com/uc?export=download&id=0B5YtQ2Ka-H8XaWR3VDFJdVhYc3c">Wellenwert - "In The Nights"</a>
    		</li>
    	
    	</ol>
	
	</div>

</section>