description = "3D Carousel Snippet"
==
<section id="carouselObject" class="large-12 columns">
	
	<div id="contentContainer" class="trans3d"> 
	<section id="carouselContainer" class="trans3d">
		    <figure id="item1" class="carouselItem trans3d"><a href="/blog/zusammenfassung/webdevelopment" title=""><i class="fa fa-cogs"></i><br /><div class="carouselItemInner trans3d">Web Development</div></a></figure>
		
		    <figure id="item2" class="carouselItem trans3d"><a href="/blog/zusammenfassung/mediadesign" title=""><i class="fa fa-diamond"></i><br /><div class="carouselItemInner trans3d">Media Design</div></a></figure>
		
		
		    <figure id="item3" class="carouselItem trans3d"><a href="/blog/zusammenfassung/design-layout" title=""><i class="fa fa-image"></i><br /><div class="carouselItemInner trans3d">Image Editing</div></a></figure>
		
		
		    <figure id="item4" class="carouselItem trans3d"><a href="/blog/zusammenfassung/musikproduktion" title=""><i class="fa fa-music"></i><br /><div class="carouselItemInner trans3d">Sound Production</div></a></figure>
		
		
		    <figure id="item5" class="carouselItem trans3d"><a href="/blog/zusammenfassung/animation-videoschnitt" title=""><i class="fa fa-eye"></i><br /><div class="carouselItemInner trans3d">Video Compilation</div></a></figure>
		
		
		    <figure id="item6" class="carouselItem trans3d"><a href="/blog/zusammenfassung/3d-rendering" title=""><i class="fa fa-cube"></i><br /><div class="carouselItemInner trans3d">3D Rendering</div></a></figure>
		
	</section>
	</div>

</section>