==
<div class="colWrapper">

    <div class="large-8 columns marginBottom">
    
        <div class="inner">
            <a href="/zur-person" title="Hier erfährst Du mehr über meine Person als Webprogrammierer" class="hastip"><h3 class="headline"><span class="fontNormal">Willkommen zum Webentwicklungsportal von</span><br /><span class="fontBigger uppercase">Arjuna Noorsanto</span><br /><p class="fontSmallest">[ staatlich geprüfter Mediengestalter für digital / non-print ]</p></h3></a>
            <p>
    ich bin staatlich geprüfter Mediengestalter (Digital) mit Schwerpunkt Webdesign und Webentwicklung. Vorzugsweise erstelle ich Websites mit einen Content-Management-System wie TYPO3 oder WordPress. Aber auch mit einen PHP-Framework wie z.B. Code Igniter oder Laravel habe ich meine Erfahrungen in der Webentwicklung sammeln dürfen.<br /><br />
    Meine Stärken liegen in der schnellen sowie pixelgenauen Umsetzung von Layoutvorgaben in das HTML-Format und besitze zudem umfassende Kenntnisse über datenbankgestützte Websites mit optionalen Redaktionssystem.<br />
    <br />
    Vom Logodesign (Print) bis hin zum kompletten Shopsystem (Screen) besitze ich ein langjähriges Know-how über die technischen Voraussetzungen und nutze bevorzugt OpenSource-Software für ein schnelles und effektives Arbeiten.</p>
            <p>Folgende Programmiersprachen bzw. Techniken setze ich für die Entwicklung von Websites ein:<br />
            <strong>HTML5, PHP, MySQL, jQuery, Node.js, Git, Apache2, Linux CLI.</strong></p><br />
            <p class="fontGreater noDeko blockInline marginRight"><a href="/zur-person" title=""><button type="text" title="">Tätigkeit als Webentwickler</button></a></p>
            <p class="fontGreater noDeko blockInline alignRight"><a href="//trello.com/b/oYAXcvAn/loopshape" title="" target="_blank"><button type="text" title="">Entwicklungsprozess der Website</button></a></p>
        </div>
        
    </div>
    
    <div class="large-4 columns marginBottom">
    
        <div class="inner">
            <i class="fa fa-square iconfix"></i><h4>WCMS</h4>
            <p>Web-Content-Management-Systeme sind der aktuelle Trend beim Webdesign. Der Kunde kann damit eigene Inhalte redaktionell verwalten und pflegen: 
                <strong>TYPO3, WordPress, Joomla, XT Commerce, OctoberCMS</strong> u.v.m.
            </p>
            <i class="fa fa-square iconfix"></i><h4>FRAMEWORK</h4>
            <p>Auch für individuelle Ansprüche gibt es die Lösung mit Frameworks, die universell einsetzbar, äußerst flexibel und leicht zu pflegen sind: 
                <strong>Laravel, Code Igniter</strong> u.a.
            </p>
            <i class="fa fa-square iconfix"></i><h4>PHOTOSHOP</h4>
            <p>
                Viele kennen Photoshop, ein professionelles Bildbearbeitungsprogramm für gehobene Ansprüche und unverzichtbar für Layoutarbeiten an Websites.<br />
            </p>
            <br />
            <div class="spacerLine"></div>
            <p class="decLineHeight"><small>Diese Website wird momentan fortlaufend optimiert. Eine vollständige Funktionalität auf allen Geräten ist somit "noch nicht" gewährleistet. Getestet und entwickelt mit den Google Chrome-Browser auf Windows x64. Ich übernehme keine Haftung für jegliche Schäden am PC während des Besuchs auf meiner Website.
            </small></p>
        </div>
    
    </div>
    
    <div class="spacerLine"></div>
    
</div>