==
<section id="frameTeaser">
                        
    <section id="frameOnboard" style="overflow:hidden;">
    
        <div id="bigVideo"></div>
    
        <p class="leadingHeadline" style="position:absolute;top:100%;width:100%;text-align:center;margin:0 auto;background-color:#fff!important;z-index:18000;left:-15px;border-top:20px solid #fff;border-bottom:20px solid #fff;margin-top:0;">
            <strong>Willkommen in der umfangreichen<br />Welt der digitalen Datenverarbeitung!</strong>
        </p>

        <div id="logoBatch">
            <img class="html5Logo reSize hastip" data-href="/blog/zusammenfassung/html5" title="HTML5 ist der aktuelle Standard und verbindet moderne Websites mit dem interaktiven Benutzer, um noch mehr Funktionalität und Flexibilität zu bieten" src="/themes/loopshape/assets/images/HTML5_Logo_512.png" alt="" />
            <img class="jslogo html5Logo reSize hastip" data-href="/blog/zusammenfassung/javascript" title="JavaScript respektive jQuery ist das Bindeglied zwischen den Basiselementen einer Website und dessen Kontrolle anhand der Interaktion des Benutzers" src="/themes/loopshape/assets/images/524px-JQuery_logo.svg.png" alt="" />
            <img class="html5Logo reSize hastip" data-href="/blog/zusammenfassung/design-layout" title="CSS3 ist eine Anweisungssprache für die Steuerung von Punkten, Strichen und Flächen auf einer Website, die im gesamten Visualisierungskonzept eine harmonische Einheit bilden" src="/themes/loopshape/assets/images/CSS3_Logo_512.png" alt="" />
            <img class="oslogo html5Logo reSize hastip" data-href="/blog/zusammenfassung/software" title="Software auf OpenSource-Basis ist heutzutage ebenso professionell einsetzbar und sorgt für ein kosteneffizientes Arbeiten." src="/themes/loopshape/assets/images/osi_standard_logo.png" alt="" />
        </div>
        
    </section>
    
</section>